<div
  id="archive-modal"
  class="bg-[white] relative w-[352px] max-w-[352px] rounded-lg py-6 px-8"
>
  <!-- Modal content -->
  <div class="-bg-[yellow] flex flex-col items-center gap-6">
    <div class="-bg-[blue] flex flex-col items-center gap-3">
      <div class="text-[17px] font-semibold">
        Do you want to Archive this KURIO?
      </div>
      <div class="text-center text-[14px] w-[288px] flex-1">
        Archive this thread to add to your collection of trusted insights from
        your KURIO Crowd!
      </div>
      <div class="text-center text-[14px] w-[288px] flex-1">
        You will find it under the Archived tab.
      </div>
    </div>
    <!-- Modal footer -->
    <div class="flex w-full h-[40px] items-center gap-3">
      <button
        data-modal-hide="archive-modal-container"
        type="button"
        class="cursor-pointer w-[50%] h-full text-[15px] text-black font-medium bg-[#F0EFEB] rounded-lg text-center"
      >
        Cancel
      </button>
      <button
        data-modal-hide="archive-modal-container"
        type="button"
        class="cursor-pointer w-[50%] h-full text-[15px] text-white font-medium bg-[#960D0D] rounded-lg text-center"
      >
        Archive
      </button>
    </div>
  </div>
</div>
