<div class="relative w-full flex justify-center">
  <div
    class="bg-[#FFF3CB] z-3 w825:absolute mt-3 right-0 w-[418px] h-fit rounded-[8px] py-3 px-4 gap-3 flex flex-col"
  >
    <div class="-bg-[red] w-full h-fit flex items-center justify-between">
      <div class="w-fit h-fit gap-3 flex items-center">
        <div class="text-[#C89D00]">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 9V13"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
            <path
              d="M12 16.5H12.01"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M1.61522 18.7503L11.1338 2.25139C11.5186 1.58435 12.4814 1.58435 12.8662 2.25139L22.3848 18.7503C22.7694 19.4169 22.2882 20.25 21.5186 20.25H2.48141C1.71175 20.25 1.23061 19.4169 1.61522 18.7503Z"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="text-[14px]">Complete your profile - 60% Completed</div>
      </div>
      <button class="cursor-pointer">
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13 3L8 8M8 8L3 13M8 8L13 13M8 8L3 3"
            stroke="#BABABA"
            stroke-width="1.5"
          />
        </svg>
      </button>
    </div>
    <div class="-bg-[yellow] w-fit h-fit pl-9 gap-3 text-[13px] flex">
      <div class="-bg-[green] text-[13px] text-[#737373] font-medium flex">
        Missing sections:
      </div>
      <ul class="font-normal">
        <li class="list-disc list-inside">Instagram</li>
        <li class="list-disc list-inside">Linkedin</li>
        <li class="list-disc list-inside">Profile Picture</li>
      </ul>
    </div>
  </div>
</div>
